.body {
    font-family: montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}

.mr {
    gap: 10px;
    align-items: right;
}

.fit-nav {
    display: flex;
    column-gap: 30px;
}

.icon-color {
    color: orange
}

.icons {
    font-size: 18px;
    color: black;
    margin-left: 30px;
}

.icons:hover {
    color: orange;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(./images/1.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.home-content {
    transform: translate(0%, 40%);
}

.get-a-quote {
    background-color: orange;
    border: none;
    padding: 10px 30px;
    transition: all 0.3s;
}

.get-a-quote:hover {
    background-color: blueviolet;
    color: white;

}

.as {
    color: red;
    margin-top: 100px;
}

.life {
    text-align: left;
    color: black;
    font-weight: bold;
    font-family: italic;
}

.life1 {
    color: gray;
    margin: 50px;
    margin: 30px;
    right: 30px;
}

.get {
    width: 100%;
    height: auto;

}

.get1 {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 23px;
    cursor: pointer;
}

.get1:hover {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 23px;
    color: orange;
}

.get2 {
    color: gray;
    line-height: 1.7;
}

.first-div-sec-col {
    text-align: end;
}

.nav-item {
    margin-left: 60px;
    font-size: 19px;
    font-weight: bold
}

.collapse .navbar-nav .nav-item .nav-link:hover {
    color: orange;

}

#serve-better {
    font-size: 60px;
    font-weight: bold
}

.merge {
    background-color: black;
    width: 60%;
    height: 140vh;
    margin-top: 100px;
}


.second-part img {
    width: 90vw;
    height: auto;
    margin-left: 100px;

}

.hhh {
    font-size: 50px;
    color: aliceblue;
    padding: 30px 0px 0px 20px;
    font-weight: bold;
}

.counter-inner {
    display: flex;
    justify-content: space-around;
    width: 95vw;
}

.counter-color {
    color: orange;
}

.counter-text {
    color: gray;
    word-break: break-all;
}

.our-garllery-text {
    padding: 20px 300px;
    font-weight: bold;
    font-size: 40px;
}

.latest-cuase {
    font-weight: bold;
    padding: 10px 300px;
}

.card-content {
    word-break: break-all;
    hyphens: auto;
    line-height: 2;


}

.card-content-div {
    border: 1px solid rgba(220, 220, 220, 0.352);
    padding: 15px;
}

.card-content-div:hover {
    box-shadow: 0px 0px 23px gainsboro;
    transition: all 0.5s;
    cursor: pointer;
}

.col-md-4 .bonate-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
}

.bonate-btn:hover {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
}

.news {
    font-size: 40px;
    padding: 10px 100px;
    font-weight: bold;
}

.date {
    font-size: 15px;
    color: orange;
    font-weight: bold;
    margin-top: 10px;
}

.news-content {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    cursor: pointer;
}

.news-content:hover {
    color: orange;
    transition: all 0.3s;
}

.context-text {
    color: rgb(195, 186, 186);
    font-size: 18px;
    margin: 50px 0px;
}

.clients {
    width: 150px;
    height: 50px;
}

.clients-div {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    row-gap: 20px;
}

.contact-form {
    background-color: blueviolet;
    overflow: hidden;
}

#contact-image {
    width: 80%;
    height: 300px;
}

.form-inputs {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.form-div .form-input {
    width: 100%;
}

.form-div .Submit {
    background-color: orange;
    color: white;
    padding: 15px 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid transparent;

}

.form-div .Submit:hover {
    background-color: rgb(13, 2, 22);
    border: 3px solid orange;
    color: white;
}

.footer {
    background-color: black;
}

.footer-icons-div {
    display: flex;
    justify-content: space-evenly;
}

.icons-footer {
    background-color: transparent;
    padding: 5px 10px;
    color: rgb(184, 174, 174);
    font-size: 23px;
    border: 1px solid rgba(65, 64, 64, 0.605);
}

.icons-footer:hover {
    background-color: orange;
    padding: 5px 10px;
    color: white;
    font-size: 23px;
    transition: all 0.4s;
}

.ending {
    background-color: black;
    border-top: 1px solid gainsboro;
}

.srikanth {
    color: gray;
    cursor: pointer;
}

.srikanth:hover {
    color: orange;

}

.get {
    width: 100%;
    height: 180px;
}

.sr {
    width: 100%;
    height: 180px;
}

.home-content h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-variant: small-caps;
}

.home-content button {
    background-color: orange;
    padding: 17px 40px;
    color: white;
}

.home-content button:hover {
    background-color: blueviolet;
    padding: 17px 40px;
    color: white;
}

#we-do {
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bold;
}

.we-do-p {
    line-height: 2;
    color: gray;
    font-size: 17px;
}

.quick-links-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}

.quick-links {
    color: gainsboro;
    text-decoration: none;
}

.Subscribe {
    background-color: gainsboro;
    width: 100%;
    height: 50px;
}

.Gallery {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    width: 100%;
    row-gap: 10px;
}

.Gallery-img {
    width: 80px;
    height: 50px;
}

.over-effect {
    position: relative;
}

.over-links {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0px;

}

.over-links a {
    display: block;
    background-color: whitesmoke;
    padding-left: 20px;
    text-decoration: none;
    border-top: 1px solid rgba(161, 148, 148, 0.292);
    padding: 10px 15px;
    color: black;

}

.over-links a:hover {
    background-color: orange;
    color: white;
    transition: all 0.5s;
}

.over-effect:hover .over-links {
    display: block;
    transition: all 2s;
}
.image-zoom-div{
    width: 100%;
    overflow: hidden;
}
.image-zoom-div .get{
    width: 100%;
    transition: all 2s ease;
}
.get:hover{
    transform: scale(1.15);
}
.image-scale img:hover{
transform: scale(1.05);
transition: all 2s ease;
}
@media screen and (max-width:480px) {
    #serve-better {
        font-size: 40px;
        font-weight: bold
    }

    .home-content h1 {
        font-size: 35px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        font-variant: small-caps;
    }

    .first-div-sec-col {
        text-align: center;
    }

    .our-garllery-text {
        padding: 0px;
        font-weight: bold;
        font-size: 30px;
    }

    .latest-cuase {
        font-weight: bold;
        padding: 10px;
    }

    .card-content {
        word-break: break-all;
        hyphens: auto;
        line-height: 2;

    }

    .second-part img {
        width: 90vw;
        height: auto;
        margin-left: 30px;

    }

    .counter-text {
        color: gray;
        word-break: break-all;
        font-size: 16px;
    }

    .news {
        font-size: 40px;
        padding: 0px;
        font-weight: bold;
    }

    .clients {
        width: 150px;
        height: 50px;
    }

    .clients-div {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        row-gap: 20px;
    }
}